
<%= form_for(@subcategory, :html => { :multipart => true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.collection_select(:category_id,  @categories, :id, :name)  %>
    <br/>

    <div class="row">
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>
    <div class="row">
      <%= f.text_area :description, :placeholder => "Description"  %>
    </div>
    <%= f.label :image %>
    <%= f.file_field :photo %>
    <br/>


    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
